.container {
  display: flex;
  height: 90vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
}
.header {
  text-align: center;
}

.signInWindow {
  height: 40vh;
  width: 20vw;
  align-items: center;
  border: 2px solid black;
  z-index: 20;
  position: absolute;
  display: none;
  background-color: white;
}

.signInWindow > h2 {
  text-align: center;
}
.signInWindow > input {
  margin: 1rem 1.5rem;
}
.signInWindow > button {
  margin: 1rem 35%;
}

.registerWindow {
  display: flex;
  height: 60vh;
  width: 40vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
}
.input {
  width: 80%;
  height: 3rem;
}
.link {
  margin-left: 7.5rem;
}

.btn {
  width: 7rem;
  height: 3rem;
  background-color: rgba(7, 59, 93, 0.774);
  color: white;
}
